/* General */
body {
    font-family: Helvetica, sans-serif;
    background-color: #2D2D2D;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barra de navegación */
nav.barra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #444;
    z-index: 10;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sección "Sobre mí" */
.about {
    background-color: #3e3e3e;
    padding: 50px 20px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 1200px;
}

.about-text {
    flex: 1;
    text-align: left;
}

.about-image img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

/* Hero Section (Encabezado) */
.hero-section {
    background-color: #333;
    color: #fff;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
}

.header-content {
    max-width: 1000px;
    margin: 0 auto;
}

.header-text h1 {
    margin-bottom: 10px;
}

/* Proyectos */
.proyectos {
    margin: 30px 0;
    padding: 30px;
    background-color: #3e3e3e;
}

.proyecto-item {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.proyecto-content {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.proyecto-image img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 5px;
}

.proyecto-text {
    flex: 1;
    color: #f0f0f0;
    margin-top: 10px;
}

/* Asegura que la imagen esté a la izquierda en Proyecto 1 */
.proyecto-item:nth-child(1) .proyecto-content {
    flex-direction: row; /* Imagen a la izquierda, texto a la derecha */
}

.proyecto-item:nth-child(2) .proyecto-content {
    flex-direction: row-reverse; /* Imagen a la derecha, texto a la izquierda */
}

/* Footer */
.footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

.social-icons img {
    margin: 0 5px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .proyecto-content {
        flex-direction: column;
    }
}
